#scrapbook {
    background-repeat: no-repeat;
    background-image: url(myscrapbookPage2.jpg);
    position: fixed;
    width: 100%;
}

#exampleA {
    background-repeat: no-repeat;
    background-image: url(tiagoHarryArt.JPEG);
    position: static;
    width: 50%;
}

#exampleB {
    background-repeat: no-repeat;
    background-image: url(lurAshleyArt.JPEG);
    position:static;
    width: 100%;
}

#titlePage {
    background-image: url(myScrapbookTitlePage.JPEG);
    position: fixed;
    width:100%;
}

.nextButton {
    width: 20%;
    right: 40px;
    top: 700px;
    position: fixed;
}

.prevButton {
    width: 15%;
    left: 40px;
    top: 750px;
    position: fixed;
    z-index: 1;
}

#stickerBox {
    display: flex;
    width: 550px;
    top: 490px;
    left: 170px;
    position: relative;
    flex-wrap: wrap;
}

.sticker {
    height: 100px;
    width: 100px;
    margin: 5px;
    z-index: 1;
}

.active {
    z-index: 2;
}

#colorPickerBG {
    width: 300px;
    height: 50px;
    left: 550px;
    top: 200px;
    position: absolute;
}

#stickerBG {
    height: 585px;
    width: 755px;
    background-color: #DBC8C8;
    position: absolute;
    left: 1059px;
    top: 250px;
    border-radius: 10px;
}

#startButton {
    width: 35%;
    position: fixed;
    left: 650px;
    top: 400px;
}

#randoStickers{
width: 200px;
top: 200px;
left: 600px;
position: fixed;
}

#reverseCover {
    background-image: url(myScrapbookEndScreen.JPEG);
    position: fixed;
    width: 80%;
}