#scrapbook {
    background-repeat: no-repeat;
    background-image: url(myscrapbookPage2.jpg);
    position: fixed;
    width: 100%;
}

#landingPage {
    background-image: url(myScrapbookTitlePage.JPEG);
    position: fixed;
    width:100%;
}

#stickerBox {
    display: flex;
    width: 550px;
    top: 490px;
    left: 170px;
    position: relative;
    flex-wrap: wrap;
}

.sticker {
    height: 100px;
    width: 100px;
    margin: 5px;
    z-index: 1;
    background-color:aqua;
}

.active {
    z-index: 2;
}

#colorPickerBG {
    width: 300px;
    height: 50px;
    left: 550px;
    top: 200px;
    position: absolute;
}

#stickerBG {
    height: 585px;
    width: 755px;
    background-color: #DBC8C8;
    position: absolute;
    left: 1059px;
    top: 250px;
    border-radius: 10px;
}

#startButton {
    width: 35%;
    position: fixed;
    left: 650px;
    top: 400px;
};